
<footer>
  <div class="container d-none d-sm-block">
    <div class="float-left">
      <h6><span class="badge badge-dark badge-pill"><b>&copy; <script>
              document.write(new Date().getFullYear())
            </script> <i class="fas fa-at" style="color:yellow"></i> sintaxe.cf</b></span></h6>
    </div>
    <div class="float-right">
      <h6><i class="fa fa-lock" style="color:green" title="Certificat SSL Activ"></i></h6>
    </div>
  </div>
  <!-- Start Float Button Subsol Pagina -->
  <a href="#" class="float" id="menu-share">
    <div style="height:20px;"></div>
    <i class="fas fa-envelope"></i>
  </a>
  <ul>
    <li>
        <center>
          alexsintaxecf@gmail.com
        </center>
    </li>
  </ul>
  <!-- Start Float Button Subsol Pagina -->
  <script>
    document.getElementById("showImage").onclick = function() {
      document.getElementById("theImage").style.visibility = "visible";
    }
  </script>
</footer>
